<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <style>
        .links {
                display: flex;
                flex-direction: row;
                align-items: left;
                justify-content: left;
                padding-right: 10px;
        }
    </style>
    <title>Account</title>
</head>
<body>
<h1>Account</h1>

<div>
    <form action="" method="post">
        <div>
            Account Name: <input type="text" th:field="${account.accountName}"/>
        </div>
        <form th:action="@{/users/{userId}/accounts/{accountId}(userId=${userId}, accountId=${account.accountId})}"
              method="post">
            <input type="submit" value="Save Account"/>
        </form>
    </form>
    <hr/>
    <div class="links">
        <div class="links"><a th:href="@{/users/{userId}(userId=${userId})}">User [[${userId}]] </a></div>
        <div class="links"><a th:href="@{/users}">All Users</a></div>
    </div>
</div>
</body>
</html>