<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Users</title>
	</head>
	<body>
		<h1>Users</h1>
		<a th:href="@{/register}">
			<button type="button">Create New User</button>
		</a>
		<hr/>

		<div th:each="user : ${users}">
			<a th:href="@{/users/{userId}(userId = ${user.userId})}"><span th:text="${user.userId}"></span></a><br/>
			<span th:text="${user.username}"></span><br/>
			<span th:text="${user.name}"></span><br/>
			<span th:text="${user.password}"></span>
			<div th:each="account : ${user.accounts}">
				<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
					<span th:text="${account.accountName}"></span>
				</a>
			</div>
			<hr/>
		</div>
	</body>
</html>